In [1]:
import pandas as pd
from sqlalchemy import create_engine
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
engine = create_engine("postgres://postgres:postgres@localhost:5432/cricket")
def get_df():
    query = 'select * from "full";'
    df = pd.read_sql(query, engine)
    return df
df = get_df()

In [14]:
df.groupby(["team", "city"])["twkts"].mean().unstack(level="city")

city,Abu Dhabi,Bengaluru,Chennai,Delhi,Dubai,Hyderabad,Jaipur,Kolkata,Mohali,Mumbai,Sharjah,Visakhapatnam
team,,,,,,,,,,,,
Chennai Super Kings,4.000,8.000000,4.5,4.000000,4.571429,6.000000,6.000000,5.000000,5.0,8.000000,6.333333,4.0
Delhi Capitals,5.400,6.000000,10.0,6.285714,6.777778,7.000000,4.000000,3.000000,10.0,6.000000,5.666667,8.5
Kolkata Knight Riders,6.500,5.000000,9.0,8.000000,6.000000,8.000000,2.000000,5.142857,3.0,7.000000,8.666667,NaN
Mumbai Indians,4.875,8.000000,4.0,5.000000,4.400000,7.500000,5.000000,7.000000,7.0,5.285714,4.333333,NaN
Punjab Kings,5.750,7.000000,5.0,7.000000,6.142857,8.000000,4.000000,4.000000,5.0,4.000000,2.000000,NaN
Rajasthan Royals,4.800,1.000000,8.0,9.000000,7.166667,2.000000,5.142857,7.000000,7.0,6.000000,7.666667,NaN
Royal Challengers Bangalore,4.800,5.714286,10.0,7.000000,5.714286,10.000000,4.000000,4.000000,2.0,7.000000,5.000000,NaN
Sunrisers Hyderabad,5.200,7.000000,3.0,5.000000,5.875000,5.428571,8.000000,3.000000,4.0,6.000000,4.000000,8.0

In [8]:
y